.social{
    padding-top: 8px;
    padding-bottom: 13px;
}
.social__facebook, .social__twitter, .social__google {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 3px;
}
.social__facebook {
    background: url(../image/home/facebook.png) no-repeat 50% 50%;
}
.social__twitter {
    background: url(../image/home/twitter.png) no-repeat 50% 50%;
}
.social__google {
    background: url(../image/home/google.png) no-repeat 50% 50%;
}