.tweet__emblem {
    width: 43px;
    height: 38px;
    position: relative;
    background: #2a535e url("../image/home/twit-logo.png") no-repeat 50% 50%;
    float: left;
}
.tweet__emblem::before {
    content: '';
    margin: 0;
    padding: 0;
    position: absolute;
    border: 4px solid transparent;	
    border-left: 4px solid #2a535e;
    left: 100%;
    top: 8px;
}
.tweet__messge {
    margin-left: 52px;
}